<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="head::commonHeader('登陆页')"></head>
<head>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
<div class="login_box">
    <div class="login_l_img"><img th:src="@{/images/login-img.png}"/></div>
    <div class="login">
        <div class="login_name">
            <p>运单管理系统</p>
        </div>
        <form id="loginForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <span class="errorMsg"></span>
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input name="userId" lay-verify="userId" class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                    <input name="password" lay-verify="password" class="layui-input" type="password"/>
                </div>
                <button class="layui-btn login-btn" lay-submit="" lay-filter="login-btn">登陆</button>
            </div>
            <div class="login-operation">
                <!--<span class="forget"><a href="">忘记密码</a></span>-->
                <!--<span class="regiest"><a >立即注册</a></span>-->
            </div>
        </form>
    </div>
</div>
<div style="text-align:center;"></div>
<div th:include="head :: commonjs"></div>
<script th:src="@{/js/login.js}"></script>
</body>
</html>
