.back-btn {
    margin-top: 7px;
}

.layui-btn-group .refuse-btn {
    margin-left: 10px!important;
    display: none;
}

.lay-head-hr, .layui-table-box, .layui-table-view {
    margin-right: 0px
}

.app-list .layui-btn + .layui-btn {
    margin-left: 0px !important;
}

.layer_self_wrap {
    /*width: 580px;*/
    display: none;
}

.layer_self_wrap .layui-form-item .layui-input-inline {
    width: 380px;
}

.submit-div {
    float: right;
    margin-right: 50px;
}

/*.input-disabled {*/
    /*disabled: true !important;*/
    /*color: #9E9E9E;*/
/*}*/

/*.input-disabled:hover {*/
    /*cursor: not-allowed;*/
/*}*/