.layui-footer {
    border-top: 1px solid #92bae1;
    background-color: #eaf2f9;
    position: fixed;
    top: 490px;
    left: 1px;
    width: 100%;
}

.layui-icon-edit {
    font-size: 30px;
    color: #1E9FFF;
    padding-left: 17px;
}

.input-disabled{
    disabled:true!important;
    color: #9E9E9E;
}
.input-disabled:hover{
    cursor: not-allowed;
}

.back-btn{
    margin-top: 5px;
    margin-left: 4px;
}