.layui-header {
    visibility: visible;
    display: block;
    position: absolute;
    margin: 0px;
    z-index: 2;
    top: 0px;
    bottom: auto;
    left: 0px;
    right: 0px;
    width: auto;
    height: 20px;
    border-bottom: 1px solid #ddd;
    padding: 1em 10px;
    background-color: #F9F9F9!important;
    line-height: 18px;
}

#updateForm {
    margin-left: 33px;
}

.update-operation {
    margin-left: 190px !important;
}

.layui-form-item .layui-input-inline {
    float: left;
    width: 432px;
    margin-right: 11px;
}

.layui-form-pane .layui-form-label {
    width: 136px !important;
}

.layui-footer {
    border-top: 1px solid #92bae1;
    background-color: #eaf2f9;
}

.layui-icon-edit {
    font-size: 30px;
    color: #1E9FFF;
    padding-left: 17px;
}

.input-disabled{
    disabled:true!important;
    color: #9E9E9E;
}
.input-disabled:hover{
    cursor: not-allowed;
}

.back-btn{
    margin-top: 7px;
}