.layer_self_wrap {
    width: 580px;
    display: none;
}

.layui-form-pane .layui-form-label {
    width: 142px;
}

.layui-form-item .layui-input-inline {
    width: 360px;
}

.submit-div {
    margin-left: 189px !important;
}

.input-disabled {
    disabled: true !important;
    color: #9E9E9E;
}

.input-disabled:hover {
    cursor: not-allowed;
}